In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os
myDirFiles = "/content/drive/MyDrive/Digital skola/dataframe"
os.chdir(myDirFiles)

# Import Libraries

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
dummy_data_2 = {
    'col1': [1, 3, 5, 6],
    'col2': [2, 3, 2, 1],
}
df_dummy_2 = pd.DataFrame(dummy_data_2)
df_dummy_2

   col1  col2
0     1     2
1     3     3
2     5     2
3     6     1

In [ ]:
df_dummy_2.sum()

col1    15
col2     8
dtype: int64

In [ ]:
dummy_data_3 = {
    'col1': [1, 3, 5, 6],
    'col2': [2, 3, 2, 1],
}
df_dummy_3 = pd.DataFrame(
    dummy_data_3,
    index=['Umur', 'Tinggi', 'Berat', 'Bulan_Lahir']
)

df_dummy_3

             col1  col2
Umur            1     2
Tinggi          3     3
Berat           5     2
Bulan_Lahir     6     1

In [ ]:
my_filter = df_dummy_3["col1"] > 2
df_dummy_3.loc[my_filter, ["col1"]]

             col1
Tinggi          3
Berat           5
Bulan_Lahir     6

In [ ]:
df_dummy_3.loc[df_dummy_3["col1"] > 2, "col1"] = "Besar"

In [ ]:
df_dummy_3

              col1  col2
Umur             1     2
Tinggi       Besar     3
Berat        Besar     2
Bulan_Lahir  Besar     1

In [6]:
dummy_data = {
    'col1': ['A', 'A', 'B', None, 'D', 'C'],
    'col2': [2, None, 9, 8, 7, 4],
    'col3': [0, 1, 9, 4, 2, None],
    'col4': [None, 'B', 'c', None, 'e', 'F']
}

df_dummy = pd.DataFrame(dummy_data)
df_dummy

   col1  col2  col3  col4
0     A   2.0   0.0  None
1     A   NaN   1.0     B
2     B   9.0   9.0     c
3  None   8.0   4.0  None
4     D   7.0   2.0     e
5     C   4.0   NaN     F

In [13]:
df_dummy.sort_values("col2")

   col1  col2  col3  col4
0     A   2.0   0.0  None
5     C   4.0   NaN     F
4     D   7.0   2.0     e
3  None   8.0   4.0  None
2     B   9.0   9.0     c
1     A   NaN   1.0     B

In [ ]:
df_dummy.col4.value_counts(dropna=False)

None    2
B       1
c       1
e       1
F       1
Name: col4, dtype: int64

# Check NaN Values

In [ ]:
df_dummy.isna()

    col1   col2   col3   col4
0  False  False  False   True
1  False   True  False  False
2  False  False  False  False
3   True  False  False   True
4  False  False  False  False
5  False  False   True  False

In [ ]:
~df_dummy.isna()

    col1   col2   col3   col4
0   True   True   True  False
1   True  False   True   True
2   True   True   True   True
3  False   True   True  False
4   True   True   True   True
5   True   True  False   True

In [ ]:
df_dummy.notna()

    col1   col2   col3   col4
0   True   True   True  False
1   True  False   True   True
2   True   True   True   True
3  False   True   True  False
4   True   True   True   True
5   True   True  False   True

In [ ]:
display(df_dummy.isna())
df_dummy.isna().sum()

    col1   col2   col3   col4
0  False  False  False   True
1  False   True  False  False
2  False  False  False  False
3   True  False  False   True
4  False  False  False  False
5  False  False   True  False

col1    1
col2    1
col3    1
col4    2
dtype: int64

In [ ]:
display(df_dummy.notna())
df_dummy.notna().sum()

In [ ]:
df_dummy

   col1  col2  col3  col4
0     A   2.0   0.0  None
1     A   NaN   1.0     B
2     B   9.0   9.0     c
3  None   8.0   4.0  None
4     D   7.0   2.0     e
5     C   4.0   NaN     F

In [ ]:
df_dummy.fillna('Loss') # temporarily, just for view
# if want to save it permanently, add inplace = True
# or
# df_dummy = df_dummy.fillna('Loss')

   col1  col2  col3  col4
0     A   2.0   0.0  Loss
1     A  Loss   1.0     B
2     B   9.0   9.0     c
3  Loss   8.0   4.0  Loss
4     D   7.0   2.0     e
5     C   4.0  Loss     F

In [ ]:
df_dummy

   col1  col2  col3  col4
0     A   2.0   0.0  None
1     A   NaN   1.0     B
2     B   9.0   9.0     c
3  None   8.0   4.0  None
4     D   7.0   2.0     e
5     C   4.0   NaN     F

In [ ]:
df_dummy

In [ ]:
# nama kolom harus tanpa spasi
df_dummy.col1.fillna(method='bfill')

0    A
1    A
2    B
3    D
4    D
5    C
Name: col1, dtype: object

In [ ]:
df_dummy.col1.fillna(method='ffill')

0    A
1    A
2    B
3    B
4    D
5    C
Name: col1, dtype: object

In [ ]:
df_dummy.col2.mean()

6.0

In [ ]:
# dict comperhension
fillna_rules = {
    'col1': 'C',
    'col2': df_dummy.col2.mean(),
    'col3': df_dummy.col3.max(),
    'col4': df_dummy.col4.fillna(method = 'ffill')
}
df_dummy.fillna(fillna_rules)

  col1  col2  col3  col4
0    A   2.0   0.0  None
1    A   6.0   1.0     B
2    B   9.0   9.0     c
3    C   8.0   4.0     c
4    D   7.0   2.0     e
5    C   4.0   9.0     F

In [ ]:
df_dummy

   col1  col2  col3  col4
0     A   2.0   0.0  None
1     A   NaN   1.0     B
2     B   9.0   9.0     c
3  None   8.0   4.0  None
4     D   7.0   2.0     e
5     C   4.0   NaN     F

In [ ]:
df_dummy.col4.fillna(method = 'ffill')

0    None
1       B
2       c
3       c
4       e
5       F
Name: col4, dtype: object

# Iris Dataset

In [14]:
#sns.load_dataset('iris')

In [15]:
df = pd.read_csv('iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [20]:
myColumns = ['Species', 'SepalLengthCm', 'SepalWidthCm']
pd.sort_by(myColumns[3, 2], ascending = [True, True])

AttributeError: ignored

In [ ]:
df.drop('Id')

KeyError: ignored

In [ ]:
#df.drop('Id') #==> wrong, by default axis = 0 (row wise)
df.drop('Id', axis = 1)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
df.drop('Id', axis = 1, inplace = True)

In [ ]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
df.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [ ]:
df.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
df.notna().sum()

SepalLengthCm    150
SepalWidthCm     150
PetalLengthCm    150
PetalWidthCm     150
Species          150
dtype: int64

In [ ]:
len(df)

150

In [ ]:
df.shape

(150, 5)

# Sorting in DataFrame

In [21]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
display(df['SepalLengthCm'])
type(df['SepalLengthCm'])

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

pandas.core.series.Series

In [ ]:
display(df[['SepalLengthCm']])
type(df[['SepalLengthCm']])

     SepalLengthCm
0              5.1
1              4.9
2              4.7
3              4.6
4              5.0
..             ...
145            6.7
146            6.3
147            6.5
148            6.2
149            5.9

[150 rows x 1 columns]

pandas.core.frame.DataFrame

In [ ]:
df[['SepalLengthCm', 'PetalLengthCm']]

     SepalLengthCm  PetalLengthCm
0              5.1            1.4
1              4.9            1.4
2              4.7            1.3
3              4.6            1.5
4              5.0            1.4
..             ...            ...
145            6.7            5.2
146            6.3            5.0
147            6.5            5.2
148            6.2            5.4
149            5.9            5.1

[150 rows x 2 columns]

In [ ]:
viewColumns = ['Species', 'SepalLengthCm', 'SepalWidthCm']
sortByColumns = ['Species', 'SepalLengthCm']

df.sort_values(by=sortByColumns, ascending=True)[viewColumns]

            Species  SepalLengthCm  SepalWidthCm
13      Iris-setosa            4.3           3.0
8       Iris-setosa            4.4           2.9
38      Iris-setosa            4.4           3.0
42      Iris-setosa            4.4           3.2
41      Iris-setosa            4.5           2.3
..              ...            ...           ...
117  Iris-virginica            7.7           3.8
118  Iris-virginica            7.7           2.6
122  Iris-virginica            7.7           2.8
135  Iris-virginica            7.7           3.0
131  Iris-virginica            7.9           3.8

[150 rows x 3 columns]

In [ ]:
viewColumns   = ['Species', 'SepalLengthCm', 'SepalWidthCm']
sortByColumns = ['Species', 'SepalLengthCm']

df.sort_values(by=sortByColumns, ascending=True, ignore_index=True)[viewColumns]

            Species  SepalLengthCm  SepalWidthCm
0       Iris-setosa            4.3           3.0
1       Iris-setosa            4.4           2.9
2       Iris-setosa            4.4           3.0
3       Iris-setosa            4.4           3.2
4       Iris-setosa            4.5           2.3
..              ...            ...           ...
145  Iris-virginica            7.7           3.8
146  Iris-virginica            7.7           2.6
147  Iris-virginica            7.7           2.8
148  Iris-virginica            7.7           3.0
149  Iris-virginica            7.9           3.8

[150 rows x 3 columns]

# Filtering DataFrame

In [ ]:
df.Species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [ ]:
df.Species.nunique()

3

In [ ]:
df['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [ ]:
df['Species'].value_counts(dropna=False)

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [ ]:
df.Species

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [ ]:
df.Species == 'Iris-versicolor'

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Name: Species, Length: 150, dtype: bool

In [ ]:
df.SepalLengthCm >= 5.0

0       True
1      False
2      False
3      False
4       True
       ...
145     True
146     True
147     True
148     True
149     True
Name: SepalLengthCm, Length: 150, dtype: bool

In [ ]:
df.Species == 'Iris-setosa'

0       True
1       True
2       True
3       True
4       True
       ...
145    False
146    False
147    False
148    False
149    False
Name: Species, Length: 150, dtype: bool

In [ ]:
versicolor_mask = (df.Species == 'Iris-versicolor')
df[versicolor_mask][viewColumns]

            Species  SepalLengthCm  SepalWidthCm
50  Iris-versicolor            7.0           3.2
51  Iris-versicolor            6.4           3.2
52  Iris-versicolor            6.9           3.1
53  Iris-versicolor            5.5           2.3
54  Iris-versicolor            6.5           2.8
55  Iris-versicolor            5.7           2.8
56  Iris-versicolor            6.3           3.3
57  Iris-versicolor            4.9           2.4
58  Iris-versicolor            6.6           2.9
59  Iris-versicolor            5.2           2.7
60  Iris-versicolor            5.0           2.0
61  Iris-versicolor            5.9           3.0
62  Iris-versicolor            6.0           2.2
63  Iris-versicolor            6.1           2.9
64  Iris-versicolor            5.6           2.9
65  Iris-versicolor            6.7           3.1
66  Iris-versicolor            5.6           3.0
67  Iris-versicolor            5.8           2.7
68  Iris-versicolor            6.2           2.2
69  Iris-versicolor            5.6           2.5
70  Iris-versicolor            5.9           3.2
71  Iris-versicolor            6.1           2.8
72  Iris-versicolor            6.3           2.5
73  Iris-versicolor            6.1           2.8
74  Iris-versicolor            6.4           2.9
75  Iris-versicolor            6.6           3.0
76  Iris-versicolor            6.8           2.8
77  Iris-versicolor            6.7           3.0
78  Iris-versicolor            6.0           2.9
79  Iris-versicolor            5.7           2.6
80  Iris-versicolor            5.5           2.4
81  Iris-versicolor            5.5           2.4
82  Iris-versicolor            5.8           2.7
83  Iris-versicolor            6.0           2.7
84  Iris-versicolor            5.4           3.0
85  Iris-versicolor            6.0           3.4
86  Iris-versicolor            6.7           3.1
87  Iris-versicolor            6.3           2.3
88  Iris-versicolor            5.6           3.0
89  Iris-versicolor            5.5           2.5
90  Iris-versicolor            5.5           2.6
91  Iris-versicolor            6.1           3.0
92  Iris-versicolor            5.8           2.6
93  Iris-versicolor            5.0           2.3
94  Iris-versicolor            5.6           2.7
95  Iris-versicolor            5.7           3.0
96  Iris-versicolor            5.7           2.9
97  Iris-versicolor            6.2           2.9
98  Iris-versicolor            5.1           2.5
99  Iris-versicolor            5.7           2.8

In [ ]:
my_filter = (df.Species == 'Iris-setosa') & (df.SepalLengthCm < 5.0)
viewColumns = ['Species', 'SepalLengthCm']
df[my_filter][viewColumns]

        Species  SepalLengthCm
1   Iris-setosa            4.9
2   Iris-setosa            4.7
3   Iris-setosa            4.6
6   Iris-setosa            4.6
8   Iris-setosa            4.4
9   Iris-setosa            4.9
11  Iris-setosa            4.8
12  Iris-setosa            4.8
13  Iris-setosa            4.3
22  Iris-setosa            4.6
24  Iris-setosa            4.8
29  Iris-setosa            4.7
30  Iris-setosa            4.8
34  Iris-setosa            4.9
37  Iris-setosa            4.9
38  Iris-setosa            4.4
41  Iris-setosa            4.5
42  Iris-setosa            4.4
45  Iris-setosa            4.8
47  Iris-setosa            4.6

In [ ]:
saringanQu = (df.Species == 'Iris-setosa') | (df.Species == 'Iris-versicolor')
df[saringanQu][viewColumns]

            Species  SepalLengthCm
0       Iris-setosa            5.1
1       Iris-setosa            4.9
2       Iris-setosa            4.7
3       Iris-setosa            4.6
4       Iris-setosa            5.0
..              ...            ...
95  Iris-versicolor            5.7
96  Iris-versicolor            5.7
97  Iris-versicolor            6.2
98  Iris-versicolor            5.1
99  Iris-versicolor            5.7

[100 rows x 2 columns]

In [ ]:
2 != 3

True

In [ ]:
my_filter = df.Species == 'Iris-virginica'
df[~my_filter] # ekivalen, saya mau setosa dan versicolor

# my_filter = (df.Species == 'Iris-setosa') | (df.Species == 'Iris-versicolor')
# df[my_filter]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
0             5.1           3.5            1.4           0.2      Iris-setosa
1             4.9           3.0            1.4           0.2      Iris-setosa
2             4.7           3.2            1.3           0.2      Iris-setosa
3             4.6           3.1            1.5           0.2      Iris-setosa
4             5.0           3.6            1.4           0.2      Iris-setosa
..            ...           ...            ...           ...              ...
95            5.7           3.0            4.2           1.2  Iris-versicolor
96            5.7           2.9            4.2           1.3  Iris-versicolor
97            6.2           2.9            4.3           1.3  Iris-versicolor
98            5.1           2.5            3.0           1.1  Iris-versicolor
99            5.7           2.8            4.1           1.3  Iris-versicolor

[100 rows x 5 columns]

In [ ]:
my_filter = df.Species != 'Iris-virginica'
df[my_filter] # ekivalen, saya mau setosa dan versicolor

# my_filter = (df.Species == 'Iris-setosa') | (df.Species == 'Iris-versicolor')
# df[my_filter]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
0             5.1           3.5            1.4           0.2      Iris-setosa
1             4.9           3.0            1.4           0.2      Iris-setosa
2             4.7           3.2            1.3           0.2      Iris-setosa
3             4.6           3.1            1.5           0.2      Iris-setosa
4             5.0           3.6            1.4           0.2      Iris-setosa
..            ...           ...            ...           ...              ...
95            5.7           3.0            4.2           1.2  Iris-versicolor
96            5.7           2.9            4.2           1.3  Iris-versicolor
97            6.2           2.9            4.3           1.3  Iris-versicolor
98            5.1           2.5            3.0           1.1  Iris-versicolor
99            5.7           2.8            4.1           1.3  Iris-versicolor

[100 rows x 5 columns]

In [ ]:
mySpecies = ['Iris-versicolor', 'Iris-setosa']
df[df.Species.isin(mySpecies)]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
0             5.1           3.5            1.4           0.2      Iris-setosa
1             4.9           3.0            1.4           0.2      Iris-setosa
2             4.7           3.2            1.3           0.2      Iris-setosa
3             4.6           3.1            1.5           0.2      Iris-setosa
4             5.0           3.6            1.4           0.2      Iris-setosa
..            ...           ...            ...           ...              ...
95            5.7           3.0            4.2           1.2  Iris-versicolor
96            5.7           2.9            4.2           1.3  Iris-versicolor
97            6.2           2.9            4.3           1.3  Iris-versicolor
98            5.1           2.5            3.0           1.1  Iris-versicolor
99            5.7           2.8            4.1           1.3  Iris-versicolor

[100 rows x 5 columns]

In [ ]:
mySpecies = ['Iris-versicolor', 'Iris-setosa']
df[~df.Species.isin(mySpecies)]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
100            6.3           3.3            6.0           2.5  Iris-virginica
101            5.8           2.7            5.1           1.9  Iris-virginica
102            7.1           3.0            5.9           2.1  Iris-virginica
103            6.3           2.9            5.6           1.8  Iris-virginica
104            6.5           3.0            5.8           2.2  Iris-virginica
105            7.6           3.0            6.6           2.1  Iris-virginica
106            4.9           2.5            4.5           1.7  Iris-virginica
107            7.3           2.9            6.3           1.8  Iris-virginica
108            6.7           2.5            5.8           1.8  Iris-virginica
109            7.2           3.6            6.1           2.5  Iris-virginica
110            6.5           3.2            5.1           2.0  Iris-virginica
111            6.4           2.7            5.3           1.9  Iris-virginica
112            6.8           3.0            5.5           2.1  Iris-virginica
113            5.7           2.5            5.0           2.0  Iris-virginica
114            5.8           2.8            5.1           2.4  Iris-virginica
115            6.4           3.2            5.3           2.3  Iris-virginica
116            6.5           3.0            5.5           1.8  Iris-virginica
117            7.7           3.8            6.7           2.2  Iris-virginica
118            7.7           2.6            6.9           2.3  Iris-virginica
119            6.0           2.2            5.0           1.5  Iris-virginica
120            6.9           3.2            5.7           2.3  Iris-virginica
121            5.6           2.8            4.9           2.0  Iris-virginica
122            7.7           2.8            6.7           2.0  Iris-virginica
123            6.3           2.7            4.9           1.8  Iris-virginica
124            6.7           3.3            5.7           2.1  Iris-virginica
125            7.2           3.2            6.0           1.8  Iris-virginica
126            6.2           2.8            4.8           1.8  Iris-virginica
127            6.1           3.0            4.9           1.8  Iris-virginica
128            6.4           2.8            5.6           2.1  Iris-virginica
129            7.2           3.0            5.8           1.6  Iris-virginica
130            7.4           2.8            6.1           1.9  Iris-virginica
131            7.9           3.8            6.4           2.0  Iris-virginica
132            6.4           2.8            5.6           2.2  Iris-virginica
133            6.3           2.8            5.1           1.5  Iris-virginica
134            6.1           2.6            5.6           1.4  Iris-virginica
135            7.7           3.0            6.1           2.3  Iris-virginica
136            6.3           3.4            5.6           2.4  Iris-virginica
137            6.4           3.1            5.5           1.8  Iris-virginica
138            6.0           3.0            4.8           1.8  Iris-virginica
139            6.9           3.1            5.4           2.1  Iris-virginica
140            6.7           3.1            5.6           2.4  Iris-virginica
141            6.9           3.1            5.1           2.3  Iris-virginica
142            5.8           2.7            5.1           1.9  Iris-virginica
143            6.8           3.2            5.9           2.3  Iris-virginica
144            6.7           3.3            5.7           2.5  Iris-virginica
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

In [ ]:
myFilter = ((df.SepalLengthCm > 2.0 )  &  (df.SepalWidthCm == 3.0)) | (df.Species == 'Iris-virginica')
myFilterI = ........
df[myFilter & myFilterI]

# .loc & .iloc

In [ ]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [ ]:
# nama index df.loc[row_mask, column_mask]
df.loc[10:20]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
10            5.4           3.7            1.5           0.2  Iris-setosa
11            4.8           3.4            1.6           0.2  Iris-setosa
12            4.8           3.0            1.4           0.1  Iris-setosa
13            4.3           3.0            1.1           0.1  Iris-setosa
14            5.8           4.0            1.2           0.2  Iris-setosa
15            5.7           4.4            1.5           0.4  Iris-setosa
16            5.4           3.9            1.3           0.4  Iris-setosa
17            5.1           3.5            1.4           0.3  Iris-setosa
18            5.7           3.8            1.7           0.3  Iris-setosa
19            5.1           3.8            1.5           0.3  Iris-setosa
20            5.4           3.4            1.7           0.2  Iris-setosa

In [ ]:
df.loc[10:20, 'SepalLengthCm']

10    5.4
11    4.8
12    4.8
13    4.3
14    5.8
15    5.7
16    5.4
17    5.1
18    5.7
19    5.1
20    5.4
Name: SepalLengthCm, dtype: float64

In [ ]:
df.loc[10:20, ['SepalLengthCm']]

    SepalLengthCm
10            5.4
11            4.8
12            4.8
13            4.3
14            5.8
15            5.7
16            5.4
17            5.1
18            5.7
19            5.1
20            5.4

In [ ]:
df.loc[10:20, viewColumns]

        Species  SepalLengthCm
10  Iris-setosa            5.4
11  Iris-setosa            4.8
12  Iris-setosa            4.8
13  Iris-setosa            4.3
14  Iris-setosa            5.8
15  Iris-setosa            5.7
16  Iris-setosa            5.4
17  Iris-setosa            5.1
18  Iris-setosa            5.7
19  Iris-setosa            5.1
20  Iris-setosa            5.4

In [ ]:
viewColumns

['Species', 'SepalLengthCm']

In [ ]:
my_filter = (df.Species == 'Iris-setosa') & (df.SepalLengthCm < 5.0)
df.loc[my_filter, viewColumns]

        Species  SepalLengthCm
1   Iris-setosa            4.9
2   Iris-setosa            4.7
3   Iris-setosa            4.6
6   Iris-setosa            4.6
8   Iris-setosa            4.4
9   Iris-setosa            4.9
11  Iris-setosa            4.8
12  Iris-setosa            4.8
13  Iris-setosa            4.3
22  Iris-setosa            4.6
24  Iris-setosa            4.8
29  Iris-setosa            4.7
30  Iris-setosa            4.8
34  Iris-setosa            4.9
37  Iris-setosa            4.9
38  Iris-setosa            4.4
41  Iris-setosa            4.5
42  Iris-setosa            4.4
45  Iris-setosa            4.8
47  Iris-setosa            4.6

In [ ]:
df.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [ ]:
df.loc[:10, 'SepalLengthCm':'PetalLengthCm']

    SepalLengthCm  SepalWidthCm  PetalLengthCm
0             5.1           3.5            1.4
1             4.9           3.0            1.4
2             4.7           3.2            1.3
3             4.6           3.1            1.5
4             5.0           3.6            1.4
5             5.4           3.9            1.7
6             4.6           3.4            1.4
7             5.0           3.4            1.5
8             4.4           2.9            1.4
9             4.9           3.1            1.5
10            5.4           3.7            1.5

In [ ]:
df_new = df.copy()

In [ ]:
my_filter = (df.Species == 'Iris-setosa') & (df.SepalLengthCm >= 5.0)
df_new.loc[my_filter, ['Species', 'SepalLengthCm']]

        Species  SepalLengthCm
0   Iris-setosa            5.1
4   Iris-setosa            5.0
5   Iris-setosa            5.4
7   Iris-setosa            5.0
10  Iris-setosa            5.4
14  Iris-setosa            5.8
15  Iris-setosa            5.7
16  Iris-setosa            5.4
17  Iris-setosa            5.1
18  Iris-setosa            5.7
19  Iris-setosa            5.1
20  Iris-setosa            5.4
21  Iris-setosa            5.1
23  Iris-setosa            5.1
25  Iris-setosa            5.0
26  Iris-setosa            5.0
27  Iris-setosa            5.2
28  Iris-setosa            5.2
31  Iris-setosa            5.4
32  Iris-setosa            5.2
33  Iris-setosa            5.5
35  Iris-setosa            5.0
36  Iris-setosa            5.5
39  Iris-setosa            5.1
40  Iris-setosa            5.0
43  Iris-setosa            5.0
44  Iris-setosa            5.1
46  Iris-setosa            5.1
48  Iris-setosa            5.3
49  Iris-setosa            5.0

In [ ]:
my_filter = (df.Species == 'Iris-setosa') & (df.SepalLengthCm >= 5.0)
df_new.loc[my_filter, 'Species'] = 'Iris-setosa-large'

In [ ]:
df_new.Species.unique()

array(['Iris-setosa-large', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica'], dtype=object)

In [ ]:
df_new

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,5.1,3.5,1.4,0.2,Iris-setosa-large
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa-large
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
my_filter = (df.Species == 'Iris-virginica') & (df.PetalWidthCm <= 2.0)
df_new.loc[my_filter, 'Species'] = 'Iris-virginica-small'

In [ ]:
df_new.Species.unique()

array(['Iris-setosa-large', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica-small'], dtype=object)

In [ ]:
df_new

In [ ]:
df

In [ ]:
df.iloc[0:11]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0             5.1           3.5            1.4           0.2  Iris-setosa
1             4.9           3.0            1.4           0.2  Iris-setosa
2             4.7           3.2            1.3           0.2  Iris-setosa
3             4.6           3.1            1.5           0.2  Iris-setosa
4             5.0           3.6            1.4           0.2  Iris-setosa
5             5.4           3.9            1.7           0.4  Iris-setosa
6             4.6           3.4            1.4           0.3  Iris-setosa
7             5.0           3.4            1.5           0.2  Iris-setosa
8             4.4           2.9            1.4           0.2  Iris-setosa
9             4.9           3.1            1.5           0.1  Iris-setosa
10            5.4           3.7            1.5           0.2  Iris-setosa

In [ ]:
df.iloc[0:11, [1,4]]

    SepalWidthCm      Species
0            3.5  Iris-setosa
1            3.0  Iris-setosa
2            3.2  Iris-setosa
3            3.1  Iris-setosa
4            3.6  Iris-setosa
5            3.9  Iris-setosa
6            3.4  Iris-setosa
7            3.4  Iris-setosa
8            2.9  Iris-setosa
9            3.1  Iris-setosa
10           3.7  Iris-setosa

In [ ]:
df.iloc[0:11, 1:4]

    SepalWidthCm  PetalLengthCm  PetalWidthCm
0            3.5            1.4           0.2
1            3.0            1.4           0.2
2            3.2            1.3           0.2
3            3.1            1.5           0.2
4            3.6            1.4           0.2
5            3.9            1.7           0.4
6            3.4            1.4           0.3
7            3.4            1.5           0.2
8            2.9            1.4           0.2
9            3.1            1.5           0.1
10           3.7            1.5           0.2

In [ ]:
df.iloc[:12:2, 1:6:2]

    SepalWidthCm  PetalWidthCm
0            3.5           0.2
2            3.2           0.2
4            3.6           0.2
6            3.4           0.3
8            2.9           0.2
10           3.7           0.2

In [ ]:
df.iloc[0:11, viewColumns]

IndexError: ignored

In [ ]:
df_new = df.copy()

In [ ]:
df_new.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
#df.iloc[my_filter.astype(int)]

In [ ]:
df_new.columns

In [ ]:
df_new.iloc[:50, 4] = 'Iris-setosa'.upper()

In [ ]:
df_new.head(10)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  IRIS-SETOSA
1            4.9           3.0            1.4           0.2  IRIS-SETOSA
2            4.7           3.2            1.3           0.2  IRIS-SETOSA
3            4.6           3.1            1.5           0.2  IRIS-SETOSA
4            5.0           3.6            1.4           0.2  IRIS-SETOSA
5            5.4           3.9            1.7           0.4  IRIS-SETOSA
6            4.6           3.4            1.4           0.3  IRIS-SETOSA
7            5.0           3.4            1.5           0.2  IRIS-SETOSA
8            4.4           2.9            1.4           0.2  IRIS-SETOSA
9            4.9           3.1            1.5           0.1  IRIS-SETOSA

In [ ]:
# Filtering NaN or null
# reassign columns with loc and iloc

# Creating Additional Column

In [ ]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df['SepalLengthMm'] = df.SepalLengthCm * 10

In [ ]:
df

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,SepalLengthMm
0,5.1,3.5,1.4,0.2,Iris-setosa,51.0
1,4.9,3.0,1.4,0.2,Iris-setosa,49.0
2,4.7,3.2,1.3,0.2,Iris-setosa,47.0
3,4.6,3.1,1.5,0.2,Iris-setosa,46.0
4,5.0,3.6,1.4,0.2,Iris-setosa,50.0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,67.0
146,6.3,2.5,5.0,1.9,Iris-virginica,63.0
147,6.5,3.0,5.2,2.0,Iris-virginica,65.0
148,6.2,3.4,5.4,2.3,Iris-virginica,62.0
149,5.9,3.0,5.1,1.8,Iris-virginica,59.0

In [ ]:
df.drop('SepalLengthMm', axis = 1, inplace = True)
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
myValue = df['SepalLengthCm'] * 10
df.insert(
    loc = 1,
    column = 'SepalLengthMm',
    value = myValue
)

In [ ]:
df

,SepalLengthCm,SepalLengthMm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,5.1,51.0,3.5,1.4,0.2,Iris-setosa
1,4.9,49.0,3.0,1.4,0.2,Iris-setosa
2,4.7,47.0,3.2,1.3,0.2,Iris-setosa
3,4.6,46.0,3.1,1.5,0.2,Iris-setosa
4,5.0,50.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,6.7,67.0,3.0,5.2,2.3,Iris-virginica
146,6.3,63.0,2.5,5.0,1.9,Iris-virginica
147,6.5,65.0,3.0,5.2,2.0,Iris-virginica
148,6.2,62.0,3.4,5.4,2.3,Iris-virginica
149,5.9,59.0,3.0,5.1,1.8,Iris-virginica

In [ ]:
df.drop('SepalLengthMm', axis = 1, inplace = True)
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
myValue = df['SepalLengthCm'] * 10
df.insert(loc = 2, column = 'SepalLengthMm', value = myValue)

In [ ]:
df

,SepalLengthCm,SepalWidthCm,SepalLengthMm,PetalLengthCm,PetalWidthCm,Species
0,5.1,3.5,51.0,1.4,0.2,Iris-setosa
1,4.9,3.0,49.0,1.4,0.2,Iris-setosa
2,4.7,3.2,47.0,1.3,0.2,Iris-setosa
3,4.6,3.1,46.0,1.5,0.2,Iris-setosa
4,5.0,3.6,50.0,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,6.7,3.0,67.0,5.2,2.3,Iris-virginica
146,6.3,2.5,63.0,5.0,1.9,Iris-virginica
147,6.5,3.0,65.0,5.2,2.0,Iris-virginica
148,6.2,3.4,62.0,5.4,2.3,Iris-virginica
149,5.9,3.0,59.0,5.1,1.8,Iris-virginica

In [ ]:
myString = 'Iris-setosa'
myString.lower()

'iris-setosa'

In [ ]:
myList = []
for val in df.Species:
  myList.append(val.upper())
df['Species_upper'] = myList
df

,SepalLengthCm,SepalWidthCm,SepalLengthMm,PetalLengthCm,PetalWidthCm,Species,Species_lower,Species_upper
0,5.1,3.5,51.0,1.4,0.2,Iris-setosa,IRIS-SETOSA,IRIS-SETOSA
1,4.9,3.0,49.0,1.4,0.2,Iris-setosa,IRIS-SETOSA,IRIS-SETOSA
2,4.7,3.2,47.0,1.3,0.2,Iris-setosa,IRIS-SETOSA,IRIS-SETOSA
3,4.6,3.1,46.0,1.5,0.2,Iris-setosa,IRIS-SETOSA,IRIS-SETOSA
4,5.0,3.6,50.0,1.4,0.2,Iris-setosa,IRIS-SETOSA,IRIS-SETOSA
...,...,...,...,...,...,...,...,...
145,6.7,3.0,67.0,5.2,2.3,Iris-virginica,IRIS-VIRGINICA,IRIS-VIRGINICA
146,6.3,2.5,63.0,5.0,1.9,Iris-virginica,IRIS-VIRGINICA,IRIS-VIRGINICA
147,6.5,3.0,65.0,5.2,2.0,Iris-virginica,IRIS-VIRGINICA,IRIS-VIRGINICA
148,6.2,3.4,62.0,5.4,2.3,Iris-virginica,IRIS-VIRGINICA,IRIS-VIRGINICA
149,5.9,3.0,59.0,5.1,1.8,Iris-virginica,IRIS-VIRGINICA,IRIS-VIRGINICA

In [ ]:
df['Species_lower'] = df.Species.apply(str.upper)
df

,SepalLengthCm,SepalWidthCm,SepalLengthMm,PetalLengthCm,PetalWidthCm,Species,Species_lower,Species_upper
0,5.1,3.5,51.0,1.4,0.2,Iris-setosa,IRIS-SETOSA,IRIS-SETOSA
1,4.9,3.0,49.0,1.4,0.2,Iris-setosa,IRIS-SETOSA,IRIS-SETOSA
2,4.7,3.2,47.0,1.3,0.2,Iris-setosa,IRIS-SETOSA,IRIS-SETOSA
3,4.6,3.1,46.0,1.5,0.2,Iris-setosa,IRIS-SETOSA,IRIS-SETOSA
4,5.0,3.6,50.0,1.4,0.2,Iris-setosa,IRIS-SETOSA,IRIS-SETOSA
...,...,...,...,...,...,...,...,...
145,6.7,3.0,67.0,5.2,2.3,Iris-virginica,IRIS-VIRGINICA,IRIS-VIRGINICA
146,6.3,2.5,63.0,5.0,1.9,Iris-virginica,IRIS-VIRGINICA,IRIS-VIRGINICA
147,6.5,3.0,65.0,5.2,2.0,Iris-virginica,IRIS-VIRGINICA,IRIS-VIRGINICA
148,6.2,3.4,62.0,5.4,2.3,Iris-virginica,IRIS-VIRGINICA,IRIS-VIRGINICA
149,5.9,3.0,59.0,5.1,1.8,Iris-virginica,IRIS-VIRGINICA,IRIS-VIRGINICA

In [ ]:
ddf = df[my_filter][['Species', 'SepalLengthCm']]
ddf